@model Horario.WebUI.Models.ViewCitas

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    

}
<div>
    <h2>@Html.ActionLink("Crear citas", "Create", new { @class = "btn btn-default" })</h2>
</div>
@foreach (var dica in Model.Dicas)
{
    <div class="well">
        @foreach (var carrera in dica.Carreras)
        {
            <h3>@carrera.Siglas</h3>
            <h3>@carrera.NombreCarrera</h3>
        }
        <h3>
            <strong>@dica.Fname @dica.Lname</strong>
        </h3>
        <span class="lead">@dica.email</span>
        <p>@dica.Nomina</p>
               <div>
            <div class="row">
              <h3> @Html.ActionLink("Ver Horario", "Citas", new { nomina = dica.Nomina })</h3>
             
            </div>
            <div><br /></div>

        </div>
    </div>

}




