@model Horario.WebUI.Models.ViewCitas

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";    

}

@foreach (var dica in Model.Dicas)
{
    <div class="well">
        @foreach (var carrera in dica.Carreras)
        {
            <h3>@carrera.Siglas</h3>
            <h3>@carrera.NombreCarrera</h3>
        }
        <h3>
            <strong>@dica.Fname @dica.Lname</strong>
        </h3>
        <span class="lead">@dica.email</span>
        <p>@dica.Nomina</p>
               <div>
            <div class="row">
                <div class="col-lg-2"><center><a style="color:black" href="#" class="btn btn-primary btn-lg" role="button">Ver Horario</a></center></div>
                <div class="col-lg-1"><center><a style="color:black" href="/Cita/Index" class="btn btn-primary btn-lg" role="button">Ver Citas</a></center></div>
            </div>
            <div><br /></div>

        </div>
    </div>

}




